{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Страница теста
{% endblock %}

{% block redirect %}
    {% if user.is_authenticated %}
        <div class="alert alert-secondary mt-2">
            <a class="btn btn-outline-primary" id="btn1" href="#">1</a>
            <a class="btn btn-outline-primary" id="btn2" href="#">2</a>
            <a class="btn btn-outline-primary" id="btn3" href="#">3</a>
            <a class="btn btn-outline-primary" id="btn4" href="#">4</a>
            <a class="btn btn-outline-primary" id="btn5" href="#">5</a><br>
            <a class="btn btn-outline-primary" id="btn6" href="#">6</a>
            <a class="btn btn-outline-primary" id="btn7" href="#">7</a>
            <a class="btn btn-outline-primary" id="btn8" href="#">8</a>
            <a class="btn btn-outline-primary" id="btn9" href="#">9</a>
            <a class="btn btn-outline-primary" id="btn10" href="#">10</a><br>
            <a class="btn btn-outline-primary" id="btn11" href="#">11</a>
            <a class="btn btn-outline-primary" id="btn12" href="#">12</a>
            <a class="btn btn-outline-primary" id="btn13" href="#">13</a>
            <a class="btn btn-outline-primary" id="btn14" href="#">14</a>
            <a class="btn btn-outline-primary" id="btn15" href="#">15</a><br>
            <a class="btn btn-outline-primary" id="btn16" href="#">16</a>
            <a class="btn btn-outline-primary" id="btn17" href="#">17</a>
            <a class="btn btn-outline-primary" id="btn18" href="#">18</a>
            <a class="btn btn-outline-primary" id="btn19" href="#">19</a>
            <a class="btn btn-outline-primary" id="btn20" href="#">20</a><br>
            <style>
                .btn-outline-primary {
                    display: inline-block;
                    vertical-align: top;
                    padding: 10px 15px;
                    margin-bottom: 4px;
                    width: 50px;
                    height: 50px;
                    border: 2px solid #fff;

                    color: black;
                    text-transform: uppercase;
                    font-size: 14px;
                    text-decoration: none;
                }

                .button {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 10px 15px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 2px 2px;
                    cursor: pointer;
                }

                label {
                    padding-left: 10px;
                    margin: 0 0 10px;
                }

                label:hover {
                    cursor: pointer;
                }
            </style>
            <a href="{% url 'home' %}">Завершить тест</a>
        </div>
    {% endif %}
{% endblock %}
{% block content %}

    <h4>Ответьте на следующие вопросы</h4>
    <div class="alert alert-warning mt-2" id="mainArea">
        {% for question in questions %}
            <div class="alert alert-secondary mt-2" id="questionArea">
                <form method="post" id='testForm' data-url="{% url 'test' %}">
                    {% csrf_token %}
                    <table>
                        <thead>
                        <tr>
                            <th>{{ question.1 }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for field in cbform %}
                                <td>{{ field.widget }}</td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                    <td>
                        {% if question.picture %}
                        <img src={{ question.picture.url }}/>
                        {% endif %}
                    </td>
                    {% for el in question.2 %}
                        <label><input type="checkbox" name="checkbox" value={{ el }} id={{ el }}/> {{ el }}</label><br>
                    {% endfor %}
                </form>
            </div>
        {% endfor %}
        <button type="button" onclick="getCheckedCheckBoxes()" value="Далее" id="nextButton" class="button">Далее
        </button>
    </div>
{% endblock %}