section {
    display: table;
}

.blockreg {
    margin-left: 600px;
    margin-top: 100px;
    width: 600px;
    height: 500px;
}

.indbtn1 {
    display: inline-flex;
    width: 300px;
    height: 50px;
    font-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: .5em 1em calc(.5em);
    border-radius: 15px;
    background: orange;
    border: 2px solid orange;
}

.indbtn {
    display: inline-flex;
    width: 300px;
    height: 50px;
    font-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: orange;
    text-decoration: none;
    padding: .5em 1em calc(.5em);
    border-radius: 15px;
    background: none;
    transition: 0.2s;
    border: 2px solid orange;
}

.indbtn:hover {
    background: orange;
    color: white;
}

.indbtn:active {
    background: orange;
    box-shadow: 0 3px orange inset;
}


.block {
    padding-left: 10px;
    position: sticky;
    top: 10px;
    left: 10px;
    margin: 10px;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: table-cell;
    min-width: 1200px;
    width: 80%;
    margin: 0 auto;
    padding-left: 85px;
}

img {
    box-shadow: 0 0 10px 0 #000;
    transition: width 0.75s ease;
    margin: 10px 10px 15px 5px;
    padding: 10px;
    display: inline-flex;
    vertical-align: top;
    flex-wrap: wrap;
    align-items: center;
}

img:hover {
    width: 1175px;
}

select {
    display: block;
    width: 100%;
    border-radius: 3px;
}

.btn-outline-primary {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    margin-bottom: 4px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;

    color: black;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

.myselect[aria-selected=true] {
    display: none;
}

label {
    padding-left: 10px;
    margin: 0 0 10px;
}

label:hover {
    cursor: pointer;
}