{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <div class="blockreg">
        <h1 style="color: orange">Главная страница</h1><br>
        {% if user.is_authenticated %}
            <button class="indbtn" onclick="location.href='{% url 'logout' %}'">Выйти</button><br><br>
            <button class="indbtn1" onclick="location.href='{% url 'test' %}'">Пройти входной тест</button>
        {% else %}
                <button class="indbtn" onclick="location.href='{% url 'login' %}'">Вход</button><br><br>
                <button class="indbtn" onclick="location.href='{% url 'registration' %}'">Регистрация</button>
            </div>
        {% endif %}
{% endblock %}
