{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Страница теста
{% endblock %}

{% block redirect %}
    {% if user.is_authenticated %}
        <div class="alert alert-secondary mt-2" xmlns="">
            {% for i in numbers %}
                <a class="btn btn-outline-primary" id="{{ forloop.counter0 }}"
                   onclick="scrollToQuestion(this)">{{ i|add:1 }}</a>
                {% if i == 4 or i == 9 or i == 14 or i == 19 %}
                    <br>
                {% endif %}
            {% endfor %}
            <a href="{% url 'result' %}">Завершить тест</a>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        (function ($) {
            $(document).on("click", "#sendAnsButton", function () {
                $.ajax({
                    type: "GET",
                    url: 'http://127.0.0.1:8000/result',
                    data: {
                        list: resultList()
                    },
                    dataType: 'json',
                    success: function () {
                    }
                })
                alert('Ваши ответы отправлены, нажмите "Завершить тест"')
            })
        })(jQuery);

        /*
         $(document).ready(function () {
             $("#myselect option").on('change', function () {
                 $.cookie('myCookie', $("#myselect option").val());
             });

             let cookieValue = $.cookie('myCookie');
             if (typeof cookieValue !== "undefined") {
                 $("#myselect option").val(cookieValue);
             }
         });


        $("input.checkbox").each(function () {
            let mycookie = $.cookie($(this).attr('id'));
            if (mycookie && mycookie === "true") {
                $(this).prop('checked', mycookie);
            }
        });


        $("input.checkbox").change(function () {
            $.cookie($(this).attr('id'), $(this).prop('checked'), {
                path: '/',
                expires: 365,
            });
        });
        */

        $("#myselect option").each(function () {
            console.log(this.id + ' ' + this.text + ' ' + this.value);
        });


        function getSequence() {
            let selectors = document.getElementsByClassName('myselect')
            let list = []
            $("#myselect option").each(function () {
                if ($(this).is(':selected')) {
                  $(this).remove();
             }
            });
            for (let index = 0; index < selectors.length; index++) {
                list.push(selectors[index].value)
            }
            return list;
        }

        function getCheckedCheckBoxes() {
            let checkboxes = document.getElementsByClassName('checkbox');
            let checkboxesChecked = [];
            let buttonsArray = []
            let checkboxesIdArray = []
            for (let j = 0; j < 20; j++) {
                let thisButton = document.getElementById(j)
                thisButton.style.backgroundColor = '#e6e6e6';
                buttonsArray.push(thisButton)
            }
            for (let index = 0; index < checkboxes.length; index++) {
                if (checkboxes[index].checked) {
                    // buttonsArray[index].style.backgroundColor = '#a6a6a6';
                    checkboxesChecked.push(checkboxes[index].value);
                }
            }
            return checkboxesChecked;
        }

        function resultList() {
            let allAnswersList = [];
            allAnswersList = getCheckedCheckBoxes().concat(getSequence())
            return allAnswersList
        }

        function changeColorIfAns(type) {
            if (type === 1) {
                let selected = document.getElementsByClassName('myselect')
            }
            if (type === 2) {
                let checkboxes = document.getElementsByClassName('checkbox')
                for (let index = 0; index < checkboxes.length; index++) {
                    if (checkboxes[index].checked) {

                    }
                }
            }
        }

        function scrollToQuestion(obj) {
            let thisId = obj.id
            document.getElementById('questionArea' + thisId).scrollIntoView({behavior: "smooth", block: "center"});
        }
    </script>
{% endblock %}
{% block content %}
    <h4>Ответьте на следующие вопросы</h4>
    <div class="alert alert-warning mt-2" id="mainArea">
        {% for question in testing %}
            <div class="alert alert-secondary mt-2" id="questionArea{{ forloop.counter0 }}">
                <form method="post" id='testForm' data-url="{% url 'test' %}">
                    {% csrf_token %}
                    <table>
                        <thead>
                        <tr>
                            <th>{{ forloop.counter }}. {{ question.1 }}</th>
                        </tr>
                        </thead>
                    </table>
                    {% if question.4 %}
                        {% for images in img %}
                            {% if images.picture == question.4 %}
                                <img src="{{ images.picture.url }}" width="650" alt=""><br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if question.0 == '1' %}
                        {% for el in question.2 %}
                            <label>
                                <input type="checkbox" class="checkbox" onclick="getCheckedCheckBoxes()"
                                       name="{{ question.1 }}"
                                       value="{{ el }}" id="{{ question.1 }}"/> {{ el }}
                            </label><br>
                        {% endfor %}
                    {% else %}
                        <label>
                            {% for num in question.2 %}
                                <h6>{{ forloop.counter }}. </h6>
                                <select id="myselect" class="myselect" name="myselect" onchange="getSequence()">
                                    <option disabled selected></option>
                                    {% for el in question.2 %}
                                        <option value="{{ el }}" id="{{ question.1 }}{{ forloop.counter0 }}"
                                                label="{{ el }}">
                                        </option>
                                    {% endfor %}
                                </select><br>
                            {% endfor %}
                        </label>
                    {% endif %}
                    <input type="hidden" id="url" name="url" value="">
                </form>
            </div>
        {% endfor %}
        <button type="button" value="Отправить ответы" id="sendAnsButton" class="button">Отправить ответы</button>
    </div>
{% endblock %}