{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Страница теста
{% endblock %}

{% block redirect %}
    {% if user.is_authenticated %}
        <div class="alert alert-secondary mt-2" xmlns="">
            {% for i in numbers %}
                <a class="btn btn-outline-primary" id="navButton" href='#'>{{ i|add:1 }}</a>
                {% if i == 4 or i == 9 or i == 14 or i == 19 %}
                    <br>
                {% endif %}
            {% endfor %}
            <style>
                .btn-outline-primary {
                    display: inline-block;
                    vertical-align: top;
                    padding: 10px 15px;
                    margin-bottom: 4px;
                    width: 50px;
                    height: 50px;
                    border: 2px solid #fff;

                    color: black;
                    text-transform: uppercase;
                    font-size: 14px;
                    text-decoration: none;
                }

                .button {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 10px 15px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 2px 2px;
                    cursor: pointer;
                }

                label {
                    padding-left: 10px;
                    margin: 0 0 10px;
                }

                label:hover {
                    cursor: pointer;
                }
            </style>
            <a href="{% url 'result' %}">Завершить тест</a>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        (function ($) {
            $(document).on("click", "#nextButton", function () {
                $.ajax({
                    type: "GET",
                    url: 'http://127.0.0.1:8000/result',
                    data: {
                        list: resultList()
                    },
                    dataType: 'json',
                    success: function () {
                    }
                })
                alert('Ваши ответы отправлены, нажмите "Завершить тест"')
                location.href = 'http://127.0.0.1:8000/result'
            })
        })(jQuery);

        function getChecked() {
            let selected = document.getElementsByClassName('myselect')
            let list = []
            for (let index = 0; index < selected.length; index++) {
                list.push(selected[index].value)
            }
            return list;
        }

        function getCheckedCheckBoxes() {
            let checkboxes = document.getElementsByClassName('checkbox');
            let checkboxesChecked = [];
            for (let index = 0; index < checkboxes.length; index++) {
                if (checkboxes[index].checked) {
                    checkboxesChecked.push(checkboxes[index].value);
                }
            }
            return checkboxesChecked;
        }

        function resultList() {
            let allAnswerList = [];
            allAnswerList = getCheckedCheckBoxes().concat(getChecked())
            return allAnswerList
        }
    </script>
{% endblock %}
{% block content %}
    <h4>Ответьте на следующие вопросы</h4>
    <div class="alert alert-warning mt-2" id="mainArea">
        {% for question in testing %}
            <div class="alert alert-secondary mt-2" id="questionArea">
                <form method="post" id='testForm' data-url="{% url 'test' %}">
                    {% csrf_token %}
                    <table>
                        <thead>
                        <tr>
                            <th>{{ forloop.counter }}. {{ question.1 }}</th>
                        </tr>
                        </thead>
                    </table>
                    {% if question.0 == '1' %}
                        {% if question.4 %}
                            {% for images in img %}
                                {% if images.picture == question.4 %}
                                    <img src="{{ images.picture.url }}" width="650" alt=""><br>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% for el in question.2 %}
                            <label>
                                <input type="checkbox" class="checkbox" onclick="getCheckedCheckBoxes()"
                                       name="checkbox"
                                       value="{{ el }}" id="{{ question.1 }}"/> {{ el }}
                            </label><br>
                        {% endfor %}
                    {% else %}
                        {% if question.4 %}
                        {% for images in img %}
                            {% if images.picture == question.4 %}
                                <img src="{{ images.picture.url }}" width="800" alt=""><br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                        <label>
                            {% for num in question.2 %}
                                <h6>{{ forloop.counter }}. </h6>
                                <select id="myselect" class="myselect" onchange="getChecked()">
                                    <option disabled selected></option>
                                    {% for el in question.2 %}
                                        <option value="{{ el }}" id="{{ question.1 }}"
                                                label="{{ el }}">
                                        </option>
                                    {% endfor %}
                                </select><br>
                            {% endfor %}
                        </label>
                    {% endif %}
                    <input type="hidden" id="url" name="url" value="">
                </form>
            </div>
        {% endfor %}
        <button type="button" value="Отправить ответы" id="nextButton" class="button">Отправить ответы</button>
    </div>
{% endblock %}