{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Страница теста
{% endblock %}

{% block redirect %}
    {% if user.is_authenticated %}
        <div class="alert alert-secondary mt-2" xmlns="">
            {% for i in numbers %}
                <a class="btn btn-outline-primary" id="navButton" href="#">{{ i|add:1 }}</a>
                {% if i == 4 or i == 9 or i == 14 or i == 19 %}
                    <br>
                {% endif %}
            {% endfor %}
            <style>
                .btn-outline-primary {
                    display: inline-block;
                    vertical-align: top;
                    padding: 10px 15px;
                    margin-bottom: 4px;
                    width: 50px;
                    height: 50px;
                    border: 2px solid #fff;

                    color: black;
                    text-transform: uppercase;
                    font-size: 14px;
                    text-decoration: none;
                }

                .button {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 10px 15px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 2px 2px;
                    cursor: pointer;
                }

                label {
                    padding-left: 10px;
                    margin: 0 0 10px;
                }

                label:hover {
                    cursor: pointer;
                }
            </style>
            <a href="{% url 'home' %}">Завершить тест</a>
        </div>
    {% endif %}
{% endblock %}
{% block content %}

    <h4>Ответьте на следующие вопросы</h4>
    <div class="alert alert-warning mt-2" id="mainArea">
        {% for question in questions %}
            <div class="alert alert-secondary mt-2" id="questionArea">
                <form method="post" id='testForm' data-url="{% url 'test' %}">
                    {% csrf_token %}
                    <table>
                        <thead>
                        <tr>
                            <th>{{ question.1 }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for field in cbform %}
                                <td>{{ field.widget }}</td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                    <td>
                        {% if question.picture %}
                            <img src={{ question.picture.url }}>
                        {% endif %}
                    </td>
                    {% for el in question.2 %}
                        <label><input type="checkbox" class="checkbox" onclick="getCheckedCheckBoxes()" name="checkbox"
                                      value="{{ el }}" id="{{ question.1 }}"/> {{ el }}</label><br>
                    {% endfor %}
                <input type="hidden" id="url" name="url" value="">
                </form>
            </div>
        {% endfor %}
        <button type="button" value="Далее" id="nextButton" class="button">Далее</button>
    </div>
{% endblock %}